@media only screen and (max-width: 767px) {
    .boton-nav {
        float: right;
        margin-top: 10px;
        background-color: #000000;
        border: #ffffff 1px solid;
        z-index: 2000;
        position: relative;
    }
    .bar-menu {
        display: none;
    }
    .nav-mob {
        position: fixed;
        display: block;
    }
    .offcanvas{
        z-index: 2000;
    }
    .contenedor7 {
        height: 100vh;
    }
    .fa-square-instagram {
        margin-top: 0px;
        color: #1B1F49;
        font-size: 60px;
    }
    .fa-square-behance {
        color: #1B1F49;
        margin-left: 15px;
        font-size: 60px;
    }
    .card-title {
        margin-top: 10px;
        font-size: calc(2rem + 2.5vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}
@media only screen and (max-width: 375px) {
    .contenedor7 {
        height: 120vh;
    }
    .card-title {
        margin-top: 10px;
        font-size: calc(2rem + 2.5vw);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}